@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --basic-grey: #888888;
  --basic-grey-light: #f2f2f2;
  --basic-grey-dark: #666666;
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-white: #ffffff;
  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-grey-rectangle: #eeeeee;
  --basic-brown: #604e43;
  --basic-brown-light: #766357;
  --basic-brown-dark: #503e33;
  --basic-transparent-footer: rgba(255, 255, 255, 0.9);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.rating {
  height: 121px;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
  color: var(--basic-black);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page {
  height: 100%;
}
.body-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-header {
  min-height: 56px;
  background-color: var(--basic-white);
}
.navigation {
  position: relative;
}
.navigation-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  display: flex;
}
.navigation li {
  font: inherit;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
}
/*для позиционирования меню(слева и справа)
.navigation-item:nth-child() {
}
*/
.navigation a {
  text-decoration: none;
  color: var(--basic-black);
}
.logo {
  position: absolute;
  left: calc((100% - 138px)/2);
  z-index: 1;
}
.background-for-greetings {
  position: relative;
  min-height: 455px;
  background-image: url("../img/background-photo-full.jpg");
  background-size: cover;
  background-color: linear-gradient(#f69d3c, #3f87a6); /*проверить почему не применяется градиент*/
}
.wrapper-background-down {
  position: absolute;
  top: 455px;
  width: 100%;
  height: 57px;
  background-image: url("../img/background-down.jpg");
  background-color: linear-gradient(#f69d3c, #3f87a6);
}
.greeting {
  position: absolute;
  left: 371px;
  top: 77px;
}
.advantages {
  background-color: var(--basic-white);
}
/*Скорее всего стили ниже надо будет убрать*/
.greetings-content {
  padding-top: 97px;
  margin-left: auto;
  margin-right: auto;
  max-width: 470px;
  min-height: 80px;
  font-family: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.greetings-content p {
  min-height: 26px;
  max-width: 524px;
  text-align: center;
}
.advantages {
  background-color: var(--basic-white);
}
.proposal {
  background-color: var(--basic-white);
}
.proposal-booking {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 435px;
  max-height: 157px;
  margin-left: 383px;
}
.proposal h2 {
  font: inherit;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}
.proposal p {
  font: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-light);
  text-align: center;
}
.find-form {
  background-color: var(--basic-white);
}
.main-footer {
  background-color: var(--basic-transparent-footer);
  margin-top: -120px;
  z-index: 2;
}
.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
}
.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 400px;
}
.contacts p {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  margin-top: 23px;
  margin-bottom: 9px;
  margin-left: 117px;
  width: 166px;
}
.contacts a {
  font: inherit;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  text-decoration: none;
  margin-left: 117px;
  margin-bottom: 36px;
  width: 251px;
}
.social-networks {
  outline: 2px solid red;
}
.social-networks ul {
  display: grid;
  height: 120px;
  grid-template-columns: 46px 46px 46px;
  align-content: center;
  column-gap: 6px;
  /*сбросить служебным классом для списков*/
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.social-networks li {
  list-style-type: none;
  min-height: 48px;
  background-color: var(--basic-blue);
}
.developer {
  display: flex;
}
.developer p {
  font: inherit;
  font-weight: normal;
}
/*modal*/
.modal {
  width: 568px;
  height: 486px;
}
.modal h2 {
  height: 86px;
  margin: 0;
  background-color: var(--basic-brown-light);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.hotels-container {
  display: grid;
  grid-template-rows: 151px 151px 151px;
}
.find-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.button-find {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.form-item {
  outline: 1px solid blue;
}
.hotel-photo,
.hotel-info,
.rating {
  margin-bottom: 30px;
}
.hotel-photo {
  margin-top: 30px;
  height: 90px;
  margin-right: 29px;
}
.hotel-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-left: 73px;
  padding-right: 73px;
}
.hotel-item,
.rating {
  background-color: var(--basic-white);
}
.hotel-info {
  flex-grow: 1;
  align-self: baseline;
}
.hotel-info p:first-child {
  font-size: 21px;
  font-weight: bold;
}
.button {
  font: inherit;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
}
.details {
  width: 110px;
  height: 27px;
  background-color: var(--basic-blue-light);
}
.details:hover,
.details:focus {
  background-color: var(--basic-blue);
}
.details:active {
  background-color: var(--basic-blue-dark);
}
.booking {
  width: 142px;
  height: 27px;
  background-color: var(--basic-brown-light);
}
.booking:hover,
.booking:focus {
  background-color: var(--basic-brown);
}
.booking:active {
  background-color: var(--basic-brown-dark);
}
.rating p {
  width: 110px;
  height: 27px;
  background-color: var(--basic-grey-light);
  color: var(--basic-grey-dark);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
