@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: local("PT Sans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

:root {
  --basic-grey: #888888;
  --basic-grey-light: #f2f2f2;
  --basic-grey-dark: #666666;
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-white: #ffffff;
  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-grey-rectangle: #eeeeee;
  --basic-grey-hover: #ebebeb;
  --basic-brown: #604e43;
  --basic-brown-light: #766357;
  --basic-brown-dark: #503e33;
  --basic-transparent-footer: rgba(255, 255, 255, 0.9);
  --basic-button-active: rgba(255, 255, 255, 0.3);
  --basic-body-shadow: rgba(0, 0, 0, 0.5);
  --basic-grey-disabled: #6a6a6a;
  --basic-grey-line: #e5e5e5;
  --basic-grey-slider: #ababab;
  --basic-grey-minus: #a9a9a9;
  --bground-image-full-gradient-from: #86b7d5;
  --bground-image-full-gradient-to: #e1ab84;
  --bground-filter-gradient-from: #698fb6;
  --bground-filter-gradient-to: #735c54;
  --star-width: 23px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.spiner-delete::-webkit-outer-spin-button,
.spiner-delete::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spiner-delete {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

.navigation-item-link,
.developer-link,
.hotel-title {
  color: var(--basic-black);
}

.navigation-item-link:not(.navigation-item-link-active):hover,
.developer-link:hover,
.hotel-title:hover {
  color: var(--basic-blue-light);
}

.navigation-item-link:not(.navigation-item-link-active):active,
.developer-link:active,
.hotel-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.navigation-item-link-active {
  color: var(--basic-brown-light);
}

body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: var(--basic-grey-light);
  box-shadow: 0 0 10px var(--basic-body-shadow);
}

.page {
  height: 100%;
}

.body-page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  outline: none;
}

.input {
  border: 0;
  outline: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  min-height: 56px;

  background-color: var(--basic-white);
}

.navigation {
  position: relative;

  padding-top: 14px;
  padding-bottom: 16px;
}

.list-navigation {
  display: grid;
  grid-template-columns: 227px 1fr 1fr 227px;
  grid-template-rows: auto;
  align-content: center;
  margin-left: 72px;
  margin-right: 72px;
}

.navigation-item:nth-child(4n+3){
  text-align: right;
}

.navigation-item:nth-child(4n+4) {
  text-align: right;
}

.navigation li {
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 0;
  left: calc((100% - 138px) / 2);
  z-index: 1;
}

.background-for-greetings {
  position: relative;

  display: flex;
  min-height: 509px;

  background-image: url("../img/background-photo-full.jpg"), linear-gradient(to right bottom, var(--bground-image-full-gradient-from), var(--bground-image-full-gradient-to));
  background-size: cover;
  background-repeat: no-repeat;
}

.background-for-greetings::after {
  position: absolute;
  top: 453px;

  display: block;
  width: 1200px;
  height: 57px;

  content: "";
  background-image: url("../img/background-mask.svg");
  background-repeat: no-repeat;
}

.greeting {
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
}

.greetings-content {
  padding-top: 1px;

  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.greetings-content-main {
  max-width: 470px;
  min-height: 80px;
  margin-bottom: 17px;
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.greetings-content-item {
  margin-top: 16px;
  margin-left: 338px;
  margin-bottom: 51px;
  margin-right: 341px;

  font-style: normal;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.advantages {
  background-color: var(--basic-white);
}

.list-of-advantages {
  display: flex;
  flex-wrap: wrap;
}

.feature-picture {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.feature-item-picture {
  display: inline-block;
  vertical-align: middle;

  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-blue-light);
}

.advantages-item-picture {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--basic-blue-light);
}

.name-part-advantages,
.advantage-title-special,
.advantage-title {
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.advantages-item {
  max-width: 400px;
  padding-top: 47px;
  padding-right: 46px;
  padding-bottom: 54px;
  padding-left: 47px;

  text-align: center;
}

.advantage-title-special,
.advantage-number-special,
.advantage-text-special,
.text-part-advantages,
.advantage-text,
.advantage-title,
.advantage-number {
  margin: 0;
  padding: 0;
}

.advantages-item-gray {
  padding-left: 71px;
  padding-right: 71px;

  background-color: var(--basic-grey-rectangle);
}

.advantages-item h3 {
  margin-bottom: 25px;
}

.advantage-number,
.advantage-number-special {
  margin-bottom: 25px;

  text-align: center;
  line-height: 21px;
}

.advantage-text,
.advantage-text-special {
  line-height: 21px;
}

.part-of-advantages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: var(--basic-white);
}

.item-part-advantages {
  display: block;

  text-align: center;
}

.item-part-advantages:first-child {
  position: relative;

  padding-top: 158px;
  padding-right: 62px;
  padding-bottom: 82px;
  padding-left: 63px;
}

.item-part-advantages:nth-child(2) {
  position: relative;

  padding-top: 160px;
  padding-right: 52px;
  padding-bottom: 82px;
  padding-left: 52px;
}

.item-part-advantages:last-child {
  position: relative;

  padding-top: 159px;
  padding-right: 62px;
  padding-bottom: 81px;
  padding-left: 62px;
}

.picture-house::before {
  position: absolute;
  top: 60px;
  left: 163px;

  margin-left: auto;
  margin-right: auto;

  content: url("../img/icon-house.svg");
}

.picture-food::before {
  position: absolute;
  top: 61px;
  left: 164px;

  margin-left: auto;
  margin-right: auto;

  content: url("../img/icon-food.svg");
}

.picture-souvenirs::before {
  position: absolute;
  top: 55px;
  right: 168px;

  content: url("../img/icon-souvenirs.svg");
}

.image-part-advantages {
  margin-left: auto;
  margin-right: auto;
}

.name-part-advantages {
  display: inline-block;
  margin-bottom: 26px;
  vertical-align: middle;
}

.text-part-advantages {
  line-height: 21px;
}

.proposal {
  position: relative;

  padding-top: 53px;
  padding-bottom: 86px;

  background-color: var(--basic-white);
}

.proposal-title {
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;
}

.proposal-content {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black-light);
  text-align: center;
}

.form-wrapper {
  position: absolute;
  left: 316px;

  max-width: 568px;
  max-height: 481px;
  margin-left: auto;
  margin-right: auto;
}

.button-form {
  width: 568px;
  height: 86px;

  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  background-color: var(--basic-brown-light);
}

.find-form {
  background-color: var(--basic-white);
}

.wrapper-map {
  background-image: url("../img/map.png"), linear-gradient(45deg, var(--basic-grey), var(--basic-grey-light));
  background-repeat: no-repeat;
}

.index {
  z-index: 2;

  margin-top: -128px;
}

.main-footer {
  background-color: var(--basic-transparent-footer);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 22px;
  padding-bottom: 28px;
  padding-left: 124px;
}

.contacts p {
  margin-top: 0;
  margin-bottom: 9px;
  width: auto;
  padding-left: 43px;

  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.contacts a {
  width: auto;

  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.social-networks-list {
  display: grid;
  grid-template-columns: 46px 46px 46px;
  align-content: center;
  column-gap: 6px;
  justify-content: center;
  height: 120px;
}

.social-networks-item {
  width: 46px;
  height: 48px;

  background-color: var(--basic-blue-light);
}

.social-link {
  display: flex;
  height: 100%;
}

.social-networks-item svg {
  margin: auto;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 37px;
  padding-right: 138px;
  padding-bottom: 34px;
}

.developer-text {
  margin: 0;
  padding-bottom: 2px;
  font-weight: normal;
}

.developer-link {
  display: block;
  width: 115px;
  margin-left: 8px;
}

.developer img {
  vertical-align: middle;

  box-sizing: content-box;
}

.modal {
  width: 568px;
  height: 486px;
}

.modal h2 {
  height: 86px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: var(--basic-white);

  background-color: var(--basic-brown-light);
}

.filters-of-hotels {
  min-height: 217px;
}

.form-filter {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1200px;
  min-height: 217px;

  background-image: url("../img/background-filter.png"), linear-gradient(45deg, var(--bground-filter-gradient-from), var(--bground-filter-gradient-to));
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-wrapper {
  display: flex;
}

.filter {
  margin-top: 25px;
  margin-left: 72px;
  padding: 0;

  border: none;
}

.filter:last-child {
  margin-left: 115px;
}

.filter-name {
  margin-bottom: 25px;

  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.filter-list-item {
  margin-bottom: 25px;
  margin-left: 39px;
}

.filter-list-item label:hover {
  cursor: pointer;
}

.filter-checkbox {
  margin-right: 13px;
}

.filter-checkbox:focus + label {
  opacity: 0.7;
}

.filter-list-item label {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-white);

  user-select: none;
}

.filter-checkbox + label::before {
  position: absolute;
  top: 0;
  left: -39px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  content: "";
}

.filter-checkbox:hover + label::before {
  cursor: pointer;
}

.filter-checkbox:checked + label::before {
  position: absolute;

  width: 27px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-checkbox:disabled + label::before {
  position: absolute;
  top: 0;
  left: -39px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;

  content: "";
  cursor: default;
}

.filter-checkbox:checked:disabled + label::before {
  position: absolute;

  width: 27px;

  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;

  cursor: default;
}

.filter-checkbox:disabled + label {
  color: var(--basic-grey-disabled);
  cursor: default;
}

.filter-cost {
  position: relative;
  margin-top: 25px;
  margin-left: 10px;
}

.cost-per-day {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
}

.interval-cost {
  display: flex;
  width: 317px;
  margin-top: 7px;
  margin-bottom: 11px;

  text-align: center;
  color: var(--basic-white);

  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.min-cost::placeholder,
.max-cost::placeholder {
  color: var(--basic-white);
  opacity: 1;
}

.min-cost:focus::placeholder,
.max-cost:focus::placeholder {
  color: transparent;
}

.min-cost,
.max-cost {
  height: 32px;
  padding: 0 4px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: transparent;
  border: none;

  overflow: hidden;
}

.min-cost {
  width: 154px;
  margin-right: 4px;
}

.max-cost {
  width: 155px;
}

.filter-separate-line {
  position: absolute;
  top: 40px;
  left: 158px;

  display: block;
  width: 2px;
  height: 22px;

  background-color: var(--basic-white);
}

.slider {
  position: relative;

  width: 316px;
  height: 21px;
  margin-bottom: 22px;
}

.side-slider {
  position: absolute;
  top: 9px;

  width: 317px;
  height: 2px;

  background-color: var(--basic-white);
  opacity: 0.3;
}

.main-slider {
  position: absolute;
  top: 9px;

  width: 248px;
  height: 2px;
  margin-left: 14px;

  background-color: var(--basic-white);
}

.slider-button {
  position: absolute;

  display: block;
  width: 4px;
  height: 4px;
  padding: 0;

  border-radius: 50%;
  background-color: var(--basic-grey-slider);
  border: 8px solid var(--basic-white);
  box-shadow: 0 2px 0 0 var(--basic-grey-slider);

  box-sizing: content-box;
}

.slider-button:first-child {
  top: 0;
  left: 0;

  margin-bottom: 23px;
}

.slider-button:last-child {
  left: 252px;
}

.slider-button:hover {
  width: 5px;
  height: 5px;

  border-radius: 18px;
  cursor: pointer;
}

.filter-button {
  width: 137px;
  height: 36px;
  margin-left: 84px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-white);

  background-color: transparent;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--basic-black);

  background-color: var(--basic-white);
  cursor: pointer;
}

.hotels-container {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.filter-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-left: 73px;
  padding-right: 67px;
  padding-bottom: 27px;

  background-color: var(--basic-white);
}

.find {
  min-width: 159px;
  max-width: 159px;
  padding-right: 10px;
}

.finding {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting {
  display: flex;
  min-width: 846px;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sorting-types-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 840px;
  margin-left: 40px;
  margin-top: 1px;
}

.sorting-type-item:not(:last-child) {
  margin-right: 34px;
}

.sorting-button {
  padding: 0;

  color: var(--basic-black);
  opacity: 0.3;

  background-color: transparent;
  border-bottom: 1px dashed var(--basic-black);
}

.sorting-button:not(.sorting-button-active):hover {
  color: var(--basic-blue-light);

  border-bottom: 1px dashed var(--basic-blue-light);
  opacity: 1;

  cursor: pointer;
}

.sorting-button:active {
  color: var(--basic-black);

  cursor: pointer;
  border:none;
  opacity: 1;
}

.sorting-button-active {
  color: var(--basic-blue-light);

  border: none;
  opacity: 1;
}

.sorting-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.control-arrow {
  padding: 6px;

  background-color: transparent;
  border: none;
  opacity: 0.2;
}

.control-arrow-active {
  transform: rotate(180deg);
}

.control-arrow:not(.control-arrow-active):hover {
  cursor: pointer;
  opacity: 1;
}

.control-arrow:not(.control-arrow-active):active {
  color: var(--basic-blue-light);

  border: none;
  cursor: pointer;
}

.control-arrow-active {
  color: var(--basic-blue-light);

  opacity: 1;
}

.find-form {
  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: 53px;
  padding-left: 55px;
}

.find-form,
.find-form-item {
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.find-form-date,
.find-form-visitors-wrapper,
.find-form-visitors {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.find-form-visitors {
  padding-bottom: 10px;
}

.find-form-date:first-child {
  margin-bottom: 29px;
}

.find-form-date:nth-child(2) {
  margin-bottom: 31px;
}

.find-form-visitors-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 27px;

  background-color: var(--basic-grey-light);
}

.find-form-label {
  padding-top: 6px;
}

.label-adults {
  margin-right: 13px;
}

.find-form-item {
  padding-top: 0;
  padding-bottom: 0;

  background-color: var(--basic-grey-light);
}

.find-form-item:hover {
  background-color: var(--basic-grey-hover);
}

.find-form-item:focus {
  background-color: var(--basic-white);
  border-color: var(--basic-grey-line);
}

.find-form-item::placeholder {
  color: var(--basic-black);
}

.arrival-date-text,
.checkout-date-text {
  display: block;
  min-width: 346px;
  height: 38px;
  padding-left: 12px;

  border: 2px solid transparent;
}

.arrival-date-text {
  margin-top: 0;
  margin-right: 0;
  margin-left: 23px;
  padding-right: 43px;
  padding-left: 10px;
}

.checkout-date-text {
  margin-top: 0;
  margin-right: 0;
  margin-left: 20px;
  padding-right: 43px;
  padding-left: 10px;
}

.adults-number,
.children-number {
  display: block;
  width: 38px;
  height: 38px;

  text-align: center;
}

.calendar,
.button-minus,
.button-plus {
  margin: 0;
  padding: 0;
  align-items: center;

  background-color: transparent;
  fill: var(--basic-grey-minus);
}

.calendar {
  position: absolute;
  right: 3px;

  width: 35px;
  height: 37px;
  padding: 8px;
  align-items: center;

  color: var(--basic-grey-minus);
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;
}

.minus-picture {
  margin-bottom: 4px;
}

.button-minus:hover,
.button-plus:hover {
  fill: var(--basic-black);
  cursor: pointer;
}

.button-minus:active,
.button-plus:active {
  fill: var(--basic-blue-light);
}

.calendar:hover{
  color: var(--basic-black);
  cursor: pointer;
}

.calendar:active {
  color: var(--basic-blue-light);
}

.button-find {
  width: 458px;
  height: 58px;
  margin-top: 43px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-blue-light);
}

.hotels {
  background-color: var(--basic-white);
}

.hotel-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 29px;
  padding-right: 73px;
  padding-left: 73px;
  padding-bottom: 30px;

  box-sizing: content-box;

  border-top: 1px solid var(--basic-grey-line);
}

.hotel-info h3 {
  margin: 0;
  padding: 0;
}

.hotel-info {
  margin-top: -6px;
  margin-left: 29px;
}

.hotel-info h3 {
  margin-bottom: 6px;
}
.hotel-item:last-child {
  border-bottom: 1px solid var(--basic-grey-line);
}

.hotel-info-wrapper {
  display: flex;
}
.hotel-info-content-wrapper {
  display: flex;
  flex-direction: column;
}

.hotel-info-content-wrapper:first-child {
  margin-right: 6px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.hotel-photo {
  width: 135px;
  height: 90px;
}

.hotel-title {
  font-size: 21px;

  margin-top: -7px;
  margin-bottom: 7px;
  padding-right: 15px;
}

.hotel-info-content {
  max-width: 110px;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 15px;

  line-height: 21px;
}

.details {
  display: block;
  padding-top: 3px;
  padding-right: 16px;
  padding-bottom: 3px;
  padding-left: 16px;

  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);

  background-color: var(--basic-blue-light);
  border: 0;
}

.button-find:hover,
.button-find:focus,
.details:hover,
.details:focus,
.social-link:hover,
.social-link:focus {
  background-color: var(--basic-blue);
}

.button-find:active,
.details:active {
  color: var(--basic-button-active);
  background-color: var(--basic-blue-dark);
}

.social-link:active {
  color: var(--basic-white);
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}

.booking {
  display: block;
  padding-top: 3px;
  padding-right: 18px;
  padding-bottom: 3px;
  padding-left: 16px;
  margin-top: auto;

  font-weight: bold;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-brown-light);
  border: 0;
}

.button-form:hover,
.button-form:focus,
.booking:hover,
.booking:focus {
  background-color: var(--basic-brown);
}

.button-form:active,
.booking:active {
  color: var(--basic-button-active);
  background-color: var(--basic-brown-dark);
}

.hotel-rating-text {
  padding-top: 3px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin-top: auto;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-grey-dark);

  background-color: var(--basic-grey-light);
}

.hotel-rating {
  display: grid;
  grid-column: 4;
  grid-row: 1;
  align-self: center;
  height: 17px;
  margin-bottom: 45px;
  margin-left: auto;

  background-image: url("../img/star.svg");
  background-position: right;
}

.stars-4 {
  width: calc(var(--star-width) * 4);
}

.stars-3 {
  width: calc(var(--star-width) * 3);
}

.stars-2 {
  width: calc(var(--star-width) * 2);
}

.form-show {
  animation-name: slide;
  animation-duration: 0.6s;
}

.find-form-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes slide {
  0% {
    transform: translate(0%, -10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
